/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
 @tailwind base;

 /**
  * Remove the default box-shadow for invalid elements to prevent
  * inputs in Livewire components showing with a
  * red border by default in Firefox.
  *
  * See: https://github.com/laravel-frontend-presets/tall/issues/7
  */
  input:invalid, textarea:invalid, select:invalid {
     box-shadow: none;
 }
 
 /**
  * This injects any component classes registered by plugins.
  */
 @tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  */
 
 [x-cloak] {
     display: none;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-Black.woff2') format('woff2'),
         url('fonts/Gilroy-Black.woff') format('woff'),
         url('fonts/Gilroy-Black.ttf') format('truetype');
     font-weight: 900;
     font-style: normal;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-BlackItalic.woff2') format('woff2'),
         url('fonts/Gilroy-BlackItalic.woff') format('woff'),
         url('fonts/Gilroy-BlackItalic.ttf') format('truetype');
     font-weight: 900;
     font-style: italic;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-Bold.woff2') format('woff2'),
         url('fonts/Gilroy-Bold.woff') format('woff'),
         url('fonts/Gilroy-Bold.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-BoldItalic.woff2') format('woff2'),
         url('fonts/Gilroy-BoldItalic.woff') format('woff'),
         url('fonts/Gilroy-BoldItalic.ttf') format('truetype');
     font-weight: bold;
     font-style: italic;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-Heavy.woff2') format('woff2'),
         url('fonts/Gilroy-Heavy.woff') format('woff'),
         url('fonts/Gilroy-Heavy.ttf') format('truetype');
     font-weight: 900;
     font-style: normal;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-Extrabold.woff2') format('woff2'),
         url('fonts/Gilroy-Extrabold.woff') format('woff'),
         url('fonts/Gilroy-Extrabold.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-ExtraboldItalic.woff2') format('woff2'),
         url('fonts/Gilroy-ExtraboldItalic.woff') format('woff'),
         url('fonts/Gilroy-ExtraboldItalic.ttf') format('truetype');
     font-weight: bold;
     font-style: italic;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-HeavyItalic.woff2') format('woff2'),
         url('fonts/Gilroy-HeavyItalic.woff') format('woff'),
         url('fonts/Gilroy-HeavyItalic.ttf') format('truetype');
     font-weight: 900;
     font-style: italic;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-Light.woff2') format('woff2'),
         url('fonts/Gilroy-Light.woff') format('woff'),
         url('fonts/Gilroy-Light.ttf') format('truetype');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-LightItalic.woff2') format('woff2'),
         url('fonts/Gilroy-LightItalic.woff') format('woff'),
         url('fonts/Gilroy-LightItalic.ttf') format('truetype');
     font-weight: 300;
     font-style: italic;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-Medium.woff2') format('woff2'),
         url('fonts/Gilroy-Medium.woff') format('woff'),
         url('fonts/Gilroy-Medium.ttf') format('truetype');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-MediumItalic.woff2') format('woff2'),
         url('fonts/Gilroy-MediumItalic.woff') format('woff'),
         url('fonts/Gilroy-MediumItalic.ttf') format('truetype');
     font-weight: 500;
     font-style: italic;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-Regular.woff2') format('woff2'),
         url('fonts/Gilroy-Regular.woff') format('woff'),
         url('fonts/Gilroy-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-Semibold.woff2') format('woff2'),
         url('fonts/Gilroy-Semibold.woff') format('woff'),
         url('fonts/Gilroy-Semibold.ttf') format('truetype');
     font-weight: 600;
     font-style: normal;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-RegularItalic.woff2') format('woff2'),
         url('fonts/Gilroy-RegularItalic.woff') format('woff'),
         url('fonts/Gilroy-RegularItalic.ttf') format('truetype');
     font-weight: normal;
     font-style: italic;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-SemiboldItalic.woff2') format('woff2'),
         url('fonts/Gilroy-SemiboldItalic.woff') format('woff'),
         url('fonts/Gilroy-SemiboldItalic.ttf') format('truetype');
     font-weight: 600;
     font-style: italic;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-ThinItalic.woff2') format('woff2'),
         url('fonts/Gilroy-ThinItalic.woff') format('woff'),
         url('fonts/Gilroy-ThinItalic.ttf') format('truetype');
     font-weight: 100;
     font-style: italic;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-Thin.woff2') format('woff2'),
         url('fonts/Gilroy-Thin.woff') format('woff'),
         url('fonts/Gilroy-Thin.ttf') format('truetype');
     font-weight: 100;
     font-style: normal;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-UltraLight.woff2') format('woff2'),
         url('fonts/Gilroy-UltraLight.woff') format('woff'),
         url('fonts/Gilroy-UltraLight.ttf') format('truetype');
     font-weight: 200;
     font-style: normal;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Gilroy';
     src: url('fonts/Gilroy-UltraLightItalic.woff2') format('woff2'),
         url('fonts/Gilroy-UltraLightItalic.woff') format('woff'),
         url('fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
     font-weight: 200;
     font-style: italic;
     font-display: swap;
 }
 
 /* For Webkit-based browsers (Chrome, Safari and Opera) */
 .scrollbar-hide::-webkit-scrollbar {
     display: none;
 }
 
 /* For IE, Edge and Firefox */
 .scrollbar-hide {
     -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
 }