 @tailwind base;

 input:invalid,
 textarea:invalid,
 select:invalid {
     box-shadow: none;
 }

 @tailwind components;
 @tailwind utilities;

 [x-cloak] {
     display: none;
 }

 .scrollbar-hide::-webkit-scrollbar {
     display: none;
 }

 .scrollbar-hide {
     -ms-overflow-style: none;
     scrollbar-width: none;
     /* Firefox */
 }

 @keyframes slideInFromTop {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
      }
    
      to {
        transform: translate3d(0, 0, 0);
      }
 }

 .page-transition-enter {
     animation: slideInFromTop 0.5s forwards;
 }